body{
background:#f5f9f2;
font-family:'Segoe UI',sans-serif;
}

.hero{
height:90vh;
background:
linear-gradient(rgba(0,0,0,.5),
rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1600");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero-content{
max-width:900px;
}

.feature-card{
border:none;
box-shadow:0 5px 15px rgba(0,0,0,.15);
transition:.4s;
}

.feature-card:hover{
transform:translateY(-10px);
}

.icon{
font-size:3rem;
color:#2E7D32;
}

.stat-card{
color:white;
text-align:center;
border:none;
}

footer{
margin-top:80px;
}