{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="hero">

<div class="hero-content">

<h1 class="display-3 fw-bold animate__animated animate__fadeInDown">
🌾 INDIA'S AGRICULTURAL CROP PRODUCTION ANALYSIS
</h1>

<p class="lead mt-4">
Explore crop trends, state performance,
production patterns and agricultural insights.
</p>

<a href="/dashboard"
class="btn btn-warning btn-lg mt-3">
View Dashboard
</a>

</div>

</section>

<div class="container py-5">

<div class="row g-4">

<div class="col-md-4">
<div class="card feature-card">
<div class="card-body text-center">

<i class="bi bi-bar-chart-line-fill icon"></i>

<h4>Crop Analytics</h4>

<p>
Visualize crop production data across India.
</p>

</div>
</div>
</div>

<div class="col-md-4">
<div class="card feature-card">
<div class="card-body text-center">

<i class="bi bi-graph-up-arrow icon"></i>

<h4>Growth Trends</h4>

<p>
Study agricultural growth over years.
</p>

</div>
</div>
</div>

<div class="col-md-4">
<div class="card feature-card">
<div class="card-body text-center">

<i class="bi bi-globe-central-south-asia icon"></i>

<h4>State Comparison</h4>

<p>
Compare production among Indian states.
</p>

</div>
</div>
</div>

</div>

</div>

{% endblock %}  